html body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.page{
    width: 100vw;
    height: 100vh;
    background: url(../img/main.jpg);
    background-size: 100%;
}

li {
    list-style: none;
    padding: 1rem 0;
}

li a{
    color: white;
    text-decoration: none;
}

li a:hover{
    color: #39bad6;
}

.font{
    font-size: 3rem;
    color: white;
}